<h2>Scholarship List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
			<th>Department</th>
			<th>Students</th>
            </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let scholarship of scholarships">
            <td>{{scholarship.id}}</td>
            <td>{{scholarship.name}}</td>
			<td>{{scholarship.amount}}</td>
			<td>
				<table>
					<tr *ngFor = "let student of scholarship.students">
						<td>{{student.name}}</td>
					</tr>
				</table>
				
			</td>
        </tr>
    </tbody>
</table>
