<div class="col-md-6 offset-md-3">
	<h3>Add Student</h3>
	<form (ngSubmit) = "onSubmit()">
		<div class="form-group">
			<label>Id</label>
			<input type="text" class="form-control" id="id"
				[(ngModel)] = "student.id" name="id">
		</div>
		<div class="form-group">
			<label>Name</label>
			<input type="text" class="form-control" id="name"
				[(ngModel)] = "student.name" name="name">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" id="email"
				[(ngModel)] = "student.email" name="email">
		</div>

		<!-- NGX DATEPICKER -->
		<div class="col-xs-12 col-12 col-md-4 form-group">
			<label for="dob">DOB</label>
			<input type="text" 
				class="form-control" 
				bsDatepicker 
				[bsValue]="bsValue"
				[bsConfig]="datePickerConfig" 
				[(ngModel)]="student.dob" 
				autocomplete="off"
				name="dob"/>
		</div>

		<!-- AGE DDL -->
		<div class="form-group">
			<label>Age</label>
			<select class="form-control" 
					id="age"
					[(ngModel)]="student.age"
					name="age">
				<option *ngFor="let age of ageList" [value]="age">
					{{age}}
				</option>
			</select>
		</div>

		<button class="btn btn-success" type="submit">Submit</button>
	</form>
</div>

<!-- <pre>Model: {{model | json }}</pre> -->