
<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <ul class ="navbar-nav">
      <li class="nav-item">
        <a routerLink="students" routerLinkActive ="active" class="nav-link">Student List</a>
      </li>
      <li class="nav-item">
        <a routerLink="courses" routerLinkActive ="active" class="nav-link">Course List</a>
      </li>
      <li class="nav-item">
        <a routerLink="scholarships" routerLinkActive ="active" class="nav-link">Scholarship List</a>
      </li>
      <li class="nav-item">
        <a routerLink="create-student" routerLinkActive ="active" class="nav-link">Add Student</a>
      </li>
      
      <!-- <li>
        <a routerLink="admin" routerLinkActive="active" class="nav-link">Admin</a>
      </li> -->
  </ul>
</nav>

<h1 class="text-center">{{title}}</h1>

<div id="img_table_div_styles">
  <table>
    <tr>
      <th>
        <img [src]="gradImage" alt="University Image" class="img_styles">
      </th>
        <th>
        <img [src]="univImage" alt="University Image" class="img_styles">
      </th>
        <th>
        <img [src]="stuImage" alt="University Image" class="img_styles">
      </th>
    </tr>
  </table>
</div>

<div class = "container">
  <router-outlet></router-outlet>
</div>

<!-- <p class="center_this_text" id="special_color">I wish this was centered...</p>
<p class="center_this_text">I wish this was also centered...</p>

<footer class="footer">
  <div class="container">
    <span>Your footer goes here...</span>
  </div>

</footer> -->